<!DOCTYPE HTML>
<html>
<head>
    {% set base_path = request.scope.root_path %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Стили -->
    <link rel="stylesheet" href="{{ base_path }}/static/assets/css/main.css"/>
    <noscript><link rel="stylesheet" href="{{ base_path }}/static/assets/css/noscript.css" /></noscript>

    {% block head %}
    {% endblock %}
</head>
<body class="is-preload">

    {% block body %}
    {% endblock %}

    <!-- Footer -->
    {% block footer %}
    {% endblock %}
    <section id="footer">
        <ul class="icons">
            <li><strong>Телеграмм: </strong><a href="https://t.me/Dr_Hy6yC" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
            <li><strong>Git: </strong><a href="https://github.com/DrHy6yC" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="tel:+791813852963" class="icon solid alt fa-phone"><span class="label">Phone: +79181385293</span></a><strong> Телефон: +79181385293 </strong></li>
            <li><a href="mailto:dr.hy6yc@gmail.com" class="icon solid alt fa-envelope"><span class="label">Email: dr.hy6yc@gmail.com</span></a><strong> Почта: dr.hy6yc@gmail.com</strong></li>
        </ul>
        <ul class="copyright">
            <li>&copy; <a href="https://t.me/Dr_Hy6yC">DrHy6yC</a></li><li>Design: <a href="https://github.com/DrHy6yC">DrHy6yC</a></li>
        </ul>
    </section>

    <!-- Скрипты -->
    {% block scripts %}
    {% endblock %}
    <script src="{{ base_path }}/static/assets/js/jquery.min.js"></script>
    <script src="{{ base_path }}/static/assets/js/jquery.scrolly.min.js"></script>
    <script src="{{ base_path }}/static/assets/js/browser.min.js"></script>
    <script src="{{ base_path }}/static/assets/js/breakpoints.min.js"></script>
    <script src="{{ base_path }}/static/assets/js/util.js"></script>
    <script src="{{ base_path }}/static/assets/js/main.js"></script>

</body>
</html>