{% extends "index.html" %}

{% block title %}
Проджектариум Dr.Hy6yc
{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
{% endblock %}

{% block body %}
<!-- Header -->
<section id="header">
    <div class="inner">
        <span class="icon solid major fa-cloud"></span>
        <h1>Привет, меня зовут <strong>Денис</strong>.<br />
        Это "Планетарий" для моих проектов</h1>
        <p>
            <br />
            Тут вы можете посмотреть на мои пет проекты в одном месте, посмотреть на их работоспособность вживую на реальном сервере
            <br />
        </p>
        <ul class="actions special">
            <li><a href="#one" class="button scrolly">Обо мне</a></li>
            <li><a href="#two" class="button scrolly">К проектам</a></li>
        </ul>
    </div>
</section>

<!-- One -->
<section id="one" class="main style1">
    <div class="container">
        <h2>Обо мне</h2>

    </div>
</section>

<!-- Two -->
<section id="two" class="main style2">
    <div class="container">
        <h2>Мои проекты</h2>

    </div>
</section>
{% endblock %}